<ion-header color="danger">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Heróis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-toolbar>
    <ion-searchbar mode="ios" animated autocomplete="on" [(ngModel)]="searchTerm" debounce="500" (ionChange)="filtro(searchTerm)">
    </ion-searchbar>
  </ion-toolbar>
  <ion-list>
    <ion-list-header>
      Heros
    </ion-list-header>

    <ion-spinner *ngIf="dataIsLoading" name="crescent"></ion-spinner>

    <div *ngIf="!dataIsLoading">

      <ion-item *ngFor="let hero of filtredHeroes" (click)="heroDetails(hero.id)">
        <ion-avatar slot="start">
          <img src="{{hero.img}}">
        </ion-avatar>
        <ion-label>{{hero.name}}</ion-label>
      </ion-item>

    </div>

  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando Heróis...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>